<div>
    <mat-sidenav-container>
        <mat-sidenav EgretSideNavToggle class="shop-sidebar default-light-bg">
            <div class="shop-filters-wrap">
                <form>
                    <mat-accordion multi="true" displayMode="flat">
                        <!-- Categories -->
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Answer Matrix
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="(answerMatrix ||{}).length>0">
                                <span *ngFor="let matrix of answerMatrix; let iVal=index;">
                                  <button mat-mini-fab [color]="matrix ? 'primary': 'warn'">{{iVal+1}}</button>
                              </span>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Questions Matrix
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="(questionMatrix ||{}).length>0">
                                <span *ngFor="let matrix of questionMatrix">
                                      <button mat-mini-fab [color]="currentQSelected=== matrix ? 'warn': 'accent'" (click)="currentQ(matrix, $event)">{{matrix}}</button>
                              </span>

                            </div>
                        </mat-expansion-panel>

                    </mat-accordion>
                </form>
            </div>
        </mat-sidenav>
        <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
            <!-- Filters -->
            <!-- Right side -->
            <div class="full-width">
                <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
                    <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon> </button>
                    <div>
                        <h2>{{(assessmentDetail ||{}).name}} ({{(assessmentDetail ||{}).status}})</h2>
                    </div>
                    <span fxFlex> </span>
                    <div appearance="outline">
                        <input matInput [(ngModel)]="score" type="number" name="score" placeholder="Score" (blur)="errorHandler('score')">
                    </div>
                    <span fxFlex></span>
                    <div appearance="outline">
                        <input matInput [(ngModel)]="grade" type="text" name="grade" placeholder="grade (A/B/C/D)" (blur)="errorHandler('grade')">
                    </div>

                    <span fxFlex></span>
                    <button *ngIf="(assessmentDetail ||{}).status !== 'completed'" (click)="onComplete()" mat-raised-button color="primary">Submit</button>
                    <button *ngIf="(assessmentDetail ||{}).status == 'completed'" mat-raised-button color="accent">Completed</button>
                </div>
                <!-- Search Form -->
                <mat-card *ngIf="questionNumber" style="padding: 0px 40px 40px 40px;">
                    <mat-card-title>
                        <b>Question: {{currentQSelected}}</b>
                        <div [innerHTML]="questionNumber.question"></div>
                    </mat-card-title>
                    <mat-card-content>
                        <b>Ans:</b><br/> {{qAnswer}}
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="full-width mb-4" appearance="outline">
                            <textarea matInput rows="10" cols="100" placeholder="Your Comments" [(ngModel)]="comments"></textarea>
                        </div>

                        <div class="full-width mb-4" appearance="outline">
                            <mat-checkbox [(ngModel)]="ans" name="ans">Is Answer correct?</mat-checkbox>
                        </div>
                    </mat-card-actions>
                    <mat-card-footer>


                        <button (click)="previousQ()" mat-raised-button color="primary">Previous</button>
                        <span fxFlex="2"></span>
                        <button (click)="doneQ()" mat-raised-button color="primary">Save</button>
                        <span fxFlex="2"></span>
                        <button (click)="nextQ()" mat-raised-button color="primary">Next</button>

                    </mat-card-footer>
                </mat-card>
                <!-- End Products container -->
            </div>

        </div>
    </mat-sidenav-container>
</div>