<div fxLayout="row wrap" class="mt-8" [@animate]="{value:'*',params:{y:'25px',delay:'500ms'}}">
    <div fxFlex="100">
        <!-- Time line -->
        <mat-card class="default">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutWrap="nowrap">
                    <div fxFlex="100" fxFlex.lg="100" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-card>
                            <mat-card-title>
                                Course List
                                <span fxFlex></span>
                                <form [formGroup]="filterForm" (ngSubmit)="searchSubmit()">
                                    <input type="text" name="filterQuery" placeholder="Search product" class="product-search default-bg full-width" [formControl]="filterForm.controls['filterQuery']">
                                </form>
                                <span fxFlex></span>
                                <!-- <button class="mb-8" mat-raised-button color="primary" (click)="connectGoogleDrive()">Connect to Google Drive</button> -->
                            </mat-card-title>
                            <mat-card-content>
                                <div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
                                    <div fxFlex="33" fxFlex.lg="33" fxFlex.sm="33" fxFlex.xs="100" *ngFor="let item of items.docs; let i = index;" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                                        <mat-card>
                                            <a (click)="onClickCourse(item)"><img class="avatar-md rounded-circle" [src]="item.image" alt=""> <span class="course-span">{{item.name}}</span></a>

                                        </mat-card>
                                    </div>
                                </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <div class="products-pagination">
                                    <mat-paginator [pageIndex]="items.offset" (page)="setPage($event)" [length]="items.total" [pageSize]="items.limit" [pageSizeOptions]="paginatlimit">
                                    </mat-paginator>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="default">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutWrap="nowrap" *ngIf="hclflag">
                    <div fxFlex="70" fxFlex.lg="70" fxFlex.sm="100" fxFlex.xs="100">
                        <iframe *ngIf="(courseData ||{}).htmlcontent" [src]="sanitizer.bypassSecurityTrustResourceUrl(courseData.htmlcontent)" class="full-width" style="height: 500px;"></iframe>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="default">
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutWrap="nowrap">
                    <div fxFlex="50" fxFlex.lg="50" fxFlex.sm="50" fxFlex.xs="100">
                        <mat-card>
                            <mat-card-title>
                                Course Details
                                <span fxFlex></span>
                                <button mat-raised-button color="primary" (click)="resetForm()">Reset</button>
                            </mat-card-title>
                            <mat-card-content>
                                <form [formGroup]="courseForm" (ngSubmit)="onSaveCourse()">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Course Name</mat-label>
                                        <input matInput formControlName="name" type="text" name="name" placeholder="Course Name" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Headline</mat-label>
                                        <input matInput formControlName="headline" type="text" name="headline" placeholder="Headline" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label value="">--Root Category--</mat-label>
                                        <mat-select #rootCVal formControlName="rootCategoryName" name="rootCategoryName" (selectionChange)="showCategories(rootCVal.value)">
                                            <mat-option>---- Select Root Category ----</mat-option>
                                            <mat-option *ngFor="let item of rootCategories" [value]="item.name">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>--Category--</mat-label>
                                        <mat-select #cVal formControlName="categoryName" name="categoryName" (selectionChange)="onCategoryChange(cVal.value)">
                                            <mat-option value="">---- Select Category ----</mat-option>
                                            <mat-option *ngFor="let item of categories" [value]="item.name">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>--Subject--</mat-label>
                                        <mat-select #subVal formControlName="subjectName" name="subjectName" (selectionChange)="onSubjectChange(subVal.value)">
                                            <mat-option value="">---- Subject Name ----</mat-option>
                                            <mat-option *ngFor="let item of subjects" [value]="item.name">{{item.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Keywords</mat-label>
                                        <input matInput formControlName="keywords" type="text" name="keywords" placeholder="Keywords" />
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>--Select Level--</mat-label>
                                        <mat-select formControlName="level" name="level">
                                            <mat-option value="">---- Select Level ----</mat-option>
                                            <mat-option value="Beginner">Beginner</mat-option>
                                            <mat-option value="Intermediate">Intermediate</mat-option>
                                            <mat-option value="Advanced">Advanced</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Subject Code</mat-label>
                                        <input matInput formControlName="subjectCode" type="text" name="subjectCode" placeholder="Subject Code" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Price</mat-label>
                                        <input matInput formControlName="price" type="number" name="price" placeholder="Price" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Duration</mat-label>
                                        <input matInput formControlName="totalDuration" type="number" name="totalDuration" placeholder="Duration" />
                                    </mat-form-field>

                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput formControlName="description" placeholder="Description"></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>About</mat-label>
                                        <textarea matInput formControlName="about" placeholder="About"></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Course Prerequisites</mat-label>
                                        <textarea matInput formControlName="coursePrerequisites" placeholder="Course Prerequisites"></textarea>
                                    </mat-form-field>
                                    <div class="full-width mb-4" appearance="outline">
                                        <mat-checkbox formControlName="htmlFlag" name="htmlFlag">Enable/Disable htmlContent</mat-checkbox>
                                    </div>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Benifits</mat-label>
                                        <textarea matInput formControlName="benefits" placeholder="Benifits"></textarea>
                                    </mat-form-field>

                                    <button class="mb-8" mat-raised-button color="primary" [disabled]="courseForm.invalid">Submit</button>
                                </form>
                            </mat-card-content>
                            <mat-card-actions>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card>
                            <mat-card-title>
                                Upload Documents
                            </mat-card-title>
                            <mat-card-content>
                                <div class="full-width mb-4" appearance="outline">
                                    <mat-label>Course Documents</mat-label>
                                    <input (change)="onDocChange($event)" type="file" name="file" placeholder="Upload File" multiple />
                                </div>
                                <button class="mb-8" mat-raised-button color="primary" (click)="uploadDocs()">Upload</button>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <mat-list *ngIf="((courseData ||{}).docs ||{}).length>0">
                                    <mat-list-item *ngFor="let doc of (courseData ||{}).docs">
                                        {{doc}} <span fxFlex></span> <button (click)="dDocs(doc)">Download</button><span fxFlex></span><button (click)="dRemove(doc)">Remove</button>
                                    </mat-list-item>
                                </mat-list>
                                <div *ngIf="!(courseData ||{}).docs">Documents not Available</div>
                            </mat-card-actions>
                            <mat-card-footer>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                    <div fxFlex="50" fxFlex.lg="50" fxFlex.sm="50" fxFlex.xs="100">
                        <mat-card>
                            <mat-card-title>
                                Upload Image
                            </mat-card-title>
                            <mat-card-content>
                                <div class="full-width mb-4" appearance="outline">
                                    <mat-label>Course Image</mat-label>
                                    <input (change)="onImageChange($event)" type="file" name="file" placeholder="Upload File" accept="image/*" />
                                </div>
                                <!-- <button class="mb-8" mat-raised-button color="primary" (click)="onuploadCourseImage()" [disabled]="!(courseData ||{})._id">Upload</button> -->
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions *ngIf="(courseData ||{})._id">
                                <img [src]="courseData.image" style="height: 50px; padding: 3px;">
                            </mat-card-actions>
                            <mat-card-footer>
                            </mat-card-footer>
                        </mat-card>
                        <mat-card>
                            <mat-card-title>
                                Upload Html-5 Content
                            </mat-card-title>
                            <mat-card-content>
                                <div fxLayout="row" class="mb-8">
                                    <input type="file" name="htmlfile" (change)="onHtmlChange($event)" multiple>
                                </div>
                                <div *ngIf="(courseData ||{}).htmlcontent" fxLayout="row" class="mb-8">
                                    {{(courseData ||{}).htmlcontent}}
                                </div>
                                <mat-divider></mat-divider>
                                <button mat-flat-button (click)="uploadHtmlFile()" color="primary">Upload</button>
                                <button mat-flat-button (click)="showHideHtml(true)" color="accent">Show</button>
                                <button mat-flat-button (click)="showHideHtml(false)" color="warn">Hide</button>
                            </mat-card-content>
                        </mat-card>
                        <mat-card *ngIf="(courseData ||{})._id">
                            <mat-card-title>
                                Upload Video
                                <span fxFlex></span>
                                <button class="mb-8" mat-raised-button color="primary" (click)="vFormReset()">Add New Chapter</button>
                            </mat-card-title>
                            <mat-card-content>
                                <form [formGroup]="vForm" (ngSubmit)="onAddVideoDetails()">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Chapter Title</mat-label>
                                        <input matInput formControlName="title" type="text" name="title" placeholder="Video Title" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Chapter Sequence</mat-label>
                                        <input matInput formControlName="seq" type="number" name="seq" placeholder="Chapter Sequence" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Video Title</mat-label>
                                        <input matInput formControlName="contentTitle" type="text" name="contentTitle" placeholder="Content Title" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Video Sequence</mat-label>
                                        <input matInput formControlName="vseq" type="number" name="vseq" placeholder="Video Sequence" />
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Video Path</mat-label>
                                        <input matInput formControlName="vPath" type="text" name="vPath" placeholder="Video Path" />
                                    </mat-form-field>
                                    <div class="full-width mb-4" appearance="outline">
                                        <mat-checkbox formControlName="vFlag" name="vFlag">Enable/Disable Video</mat-checkbox>
                                    </div>
                                    <div class="full-width mb-4" appearance="outline">
                                        <mat-label>Upload Video</mat-label>
                                        <input id="FileBox" (change)="onFileChange($event)" type="file" name="contentFile" placeholder="Content Video" accept="video/mp4,video/x-m4v,video/*" />
                                    </div>
                                    <div class="full-width mb-4">
                                        <div fxFlex="50">
                                            <button class="mb-8" mat-raised-button color="primary" [disabled]="vForm.invalid">Submit</button>
                                        </div>
                                        <div fxFlex="50" *ngIf="currentFile && currentFile.Name">
                                            <span><mat-spinner [diameter]="20" mode="determinate" [value]="currentFile.Progress"></mat-spinner></span>

                                        </div>

                                    </div>



                                </form>
                                <mat-divider></mat-divider>
                                <div>
                                    <!-- oncontextmenu="return false;" preload="false" controls controlsList="nodownload" -->
                                    <!-- <video class="full-width" [src]="selectedVideo" controls="controls" width="320" height="240" id="sub-video"> -->
                                    <!-- <source id="source" type="video/webm"/> -->
                                    <!-- <source id="mp4_src" *ngIf="selectedVideo" src="{{selectedVideo}}" type="video/mp4"/> -->
                                    <!-- </video> -->
                                    <video fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="70" [src]="selectedVideo" type="video/mp4" id="sub-video" controls>
                                    </video>
                                    <!-- <iframe [src]="selectedVideo | safe" width="640" height="400"></iframe> -->

                                    <!-- <video class="full-width" oncontextmenu="return false;" [src]="'https://drive.google.com/file/d/1YVDYl4_F6B06tW01-Yg1GAqnab8SGd8T'" type="video/mp4" id="sub-video" controls controlsList="nodownload" onended="run()"></video> -->
                                </div>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <mat-accordion multi="true" displayMode="flat">
                                    <!-- Main Category -->
                                    <mat-expansion-panel *ngFor="let content of contentData">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{content.seq+') '}}{{content.title}}
                                                <span fxFlex></span>

                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div>
                                            <button class="mb-8" mat-raised-button color="primary" (click)="addVideoOnexistingContent(content)">Add Video</button>
                                            <span fxFlex></span>
                                            <button class="mb-8" mat-raised-button color="accent" (click)="deleteFilesDrive(content._id)">Delete</button>
                                        </div>

                                        <ul class="product-categories">
                                            <li *ngFor="let video of content.videoUrl">{{video.vseq+') '}}{{video.title}}
                                                <span fxFlex></span>
                                                <button (click)="showVideo(video)" mat-icon-button color="primary"><mat-icon>remove_red_eye</mat-icon></button>
                                                <button (click)="editVideo(video,{title: content.title, seq: content.seq, _id: content._id, vFlag: content.vFlag})" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
                                                <button (click)="deleteVideo(video._id,video.path, content._id)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </mat-card-actions>
                            <mat-card-footer>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>