<div>
    <mat-sidenav-container>
        <mat-sidenav EgretSideNavToggle class="shop-sidebar default-light-bg">
            <div class="shop-filters-wrap">
                <form>
                    <mat-accordion multi="true" displayMode="flat">
                        <!-- Main Category -->
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Timer
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span *ngIf="showCounter"><countdown #cd1 [config]="config" (event)="handleEvent($event)"></countdown></span>
                        </mat-expansion-panel>
                        <!-- Categories -->
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Answer Matrix
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="(answerMatrix ||{}).length>0">
                                <span *ngFor="let matrix of answerMatrix; let iVal=index;">
                                    <button mat-mini-fab [color]="matrix ? 'primary': 'warn'">{{iVal+1}}</button>
                                </span>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Questions Matrix
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div *ngIf="(questionMatrix ||{}).length>0">
                                <span *ngFor="let matrix of questionMatrix">
                                        <button mat-mini-fab [color]="currentQSelected=== matrix ? 'warn': 'accent'" (click)="currentQ(matrix, $event)">{{matrix}}</button>
                                </span>

                            </div>
                        </mat-expansion-panel>

                    </mat-accordion>
                </form>
            </div>
        </mat-sidenav>
        <div class="shop-wrap" fxLayout="row" fxLayoutWrap="wrap">
            <!-- Filters -->
            <!-- Right side -->
            <div class="full-width">
                <div fxLayout="row" fxLayout.lt-sm="column" class="shop-top-toolbar">
                    <button mat-icon-button class="mr-1" (click)="toggleSideNav()"><mat-icon>short_text</mat-icon> </button>
                    <div>
                        <h2>Your Challenge ({{(assessmentDetail ||{}).name}})</h2>
                    </div>
                    <span fxFlex></span>
                    <button *ngIf="(assessmentDetail ||{}).status !== 'Completed'" (click)="onComplete()" mat-raised-button color="primary">Submit</button>
                    <button *ngIf="(assessmentDetail ||{}).status == 'Completed'" mat-raised-button color="accent">Completed</button>
                </div>
                <!-- Search Form -->
                <mat-card *ngIf="questionNumber" style="padding: 0px 40px 40px 40px;">
                    <mat-card-title>{{questionNumber.number}}.</mat-card-title>
                    <mat-card-content>
                        <div [innerHTML]="questionNumber.question"></div>

                    </mat-card-content>

                    <mat-card-actions>
                        <div *ngIf="questionNumber.qType">
                            <div class="checkbox-fade" *ngFor="let option of questionNumber.options; let i = index;">
                                <label>
                                                    <input type="radio" name="qoption" [value]="option.key" [(ngModel)]="qAnswer">
                                                    <!-- <span *ngIf="questionNumber.answer === option.option && qAnswer === questionNumber.answer" style="color: green;">{{option.option}}</span> -->
                                                    <span [ngStyle]="{'color': (questionNumber.answer === option.option) ? 'green': ( (!isCorrectAns && qAnswer === option.option) ? 'red' : 'rgba(0, 0, 0, 0.87)')}">
                                                        {{option.option}}
                                                        <mat-icon *ngIf="questionNumber.answer === option.option">check</mat-icon>
                                                        <mat-icon *ngIf="!isCorrectAns && qAnswer === option.option">close</mat-icon>
                                                    </span>
                                                    
                                                </label>
                            </div>
                        </div>
                        <div *ngIf="!questionNumber.qType">
                            <textarea matInput rows="10" cols="100" placeholder="Your Answer" [(ngModel)]="qAnswer"></textarea>
                        </div>
                    </mat-card-actions>
                    <mat-card-content *ngIf="comments">
                        <h2>Evaluation Summary: </h2>
                        <div [innerHTML]="comments"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div *ngIf="questionNumber.qType && (assessmentDetail ||{}).status == 'Completed'">
                            <h2>Summary: </h2>
                            <div [innerHTML]="questionNumber.comments"></div>
                        </div>

                    </mat-card-actions>
                    <mat-card-footer>
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <button (click)="previousQ()" mat-raised-button color="primary">Previous</button>
                            <span fxFlex="2"></span>
                            <button (click)="doneQ(qAnswer)" mat-raised-button color="primary">Save</button>
                            <span fxFlex="2"></span>
                            <button (click)="nextQ()" mat-raised-button color="primary">Next</button>
                        </div>
                    </mat-card-footer>
                </mat-card>
                <!-- End Products container -->
            </div>

        </div>
    </mat-sidenav-container>
</div>