<section style="margin-bottom: 45px;" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
        <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">CURRENT AFFAIRS</h2>
            </div>
        </div>

        <div class="owl-blog owl-carousel owl-theme" *ngIf="(blogList ||{}).length> 0">
            <div *ngFor="let blog of blogList" id="scroll-item" class="item about-hover-effect">
                <mat-card>
                    <a [routerLink]="['/home/blogd/']" [queryParams]="{_id: blog._id }">
                        <img style="height: 280px;" [src]="blog?.image">
                    </a>
                    <mat-card-content>
                        <a [routerLink]="['/home/blogd/']" [queryParams]="{_id: blog._id }" class="mt-8" style="text-align: center;">
                            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">{{((blog ||{}).title ||{}).length>16 ? ((blog ||{}).title ||{}).substring(0,17) + '...' : (blog ||{}).title}}</h5>
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="next-prev-btn">
            <button class="customPrevBtn" mat-mini-fab color="accent">Prev</button>
            <button class="customNextBtn" mat-mini-fab color="primary">Next</button>
        </div>
    </div>
</section>