<div class="margin-333" [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">

    <mat-card class="default" fxLayoutAlign="center center" fxFlex="70">

        <mat-card-content>
            <div *ngIf="paymentStatus==='success'">
                <button mat-button color="success" (click)="print()">Download Invoice </button>
            </div>
            <mat-card id="print-area" *ngIf="paymentStatus==='success'">

                <div>
                    <div id="container">
                        <section id="memo" *ngIf="(orderDetails ||{}).created">
                            <div class="company-name">
                                <span>Amida Educational Services Pvt. Ltd.</span>
                                <!-- <div class="right-arrow"></div> -->
                            </div>

                            <div class="logo">
                                <img src="assets/images/android-icon-72x72.png" />
                            </div>

                            <div class="company-info">
                                <div>
                                    1-2-607/23/2/75, H 304,3RD FLOOR, SREE GRUHA LAKSHMI NIVAS,<br>KAVADIGUDA HYDERABAD- TG 500080 IN
                                </div>
                                <div><a href="mailto:info@amidaedutech.com" target="_top">info@amidaedutech.com</a></div>
                                <div>+91 728-80-06-007</div>
                            </div>
                        </section>

                        <section id="invoice-info">
                            <div>
                                <span>Issue Date:</span>
                                <span>Due Date:</span>
                                <span>Net:</span>
                                <span>Payu Money Id</span>
                                <span>Payment Status</span>
                            </div>

                            <div>
                                <span>{{(orderDetails ||{}).created | date:'short'}}</span>
                                <span>{{(orderDetails ||{}).created | date:'short'}}</span>
                                <span><b>₹{{(orderDetails ||{}).amount}}</b></span>
                                <span> {{((orderDetails ||{}).payment ||{}).payuMoneyId}}</span>
                                <span class="label label-warning">{{((orderDetails ||{}).payment ||{}).status}}</span>
                            </div>
                        </section>

                        <section id="client-info">
                            <span>Bill to:</span>
                            <div>
                                <span class="bold">{{(user ||{}).firstName}}</span>
                            </div>

                            <div>
                                <span>{{(user ||{}).email}}</span>
                            </div>

                            <div>
                                <span>{{(user ||{}).phone}}</span>
                            </div>

                        </section>

                        <div class="clearfix"></div>

                        <section id="invoice-title-number">

                            <span id="title">Invoice</span>
                            <span id="number">{{(orderDetails ||{}).orderId}}</span>

                        </section>

                        <div class="clearfix"></div>

                        <section id="items" *ngIf="(orderDetails ||{}).course">

                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>S.No</th>
                                    <!-- Dummy cell for the row number and row commands -->
                                    <th>Description</th>
                                    <th>Subject</th>
                                    <th>Code</th>
                                    <th>Amount</th>
                                    <th>Discount</th>
                                    <th>Tax</th>

                                </tr>

                                <tr *ngFor="let course of orderDetails.course; let i=index;">
                                    <td>{{i+1}}</td>
                                    <!-- Don't remove this column as it's needed for the row commands -->
                                    <td>{{(course ||{}).headline}}</td>
                                    <td>{{(course ||{}).categoryName}}</td>
                                    <td>{{(course ||{}).subjectCode}}</td>
                                    <td>{{course.price}}</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>

                            </table>

                        </section>

                        <div class="currency">
                            <span>* All prices are in</span> <span>₹</span>
                        </div>

                        <section id="sums">
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <th>Sub Total</th>
                                    <td>₹{{(orderDetails ||{}).amount}}</td>
                                </tr>
                                <tr>
                                    <th>Discount</th>
                                    <td>₹{{(orderDetails ||{}).discount}}</td>
                                </tr>
                                <tr data-iterate="tax">
                                    <th>Taxes (18%)</th>
                                    <td>₹{{(orderDetails ||{}).gst || 0}}</td>
                                </tr>

                                <tr class="amount-total">
                                    <th>Paid</th>
                                    <td>₹{{((orderDetails ||{}).amount || 0) + ((orderDetails ||{}).gst || 0)}}</td>
                                </tr>
                            </table>

                        </section>

                        <div class="clearfix"></div>

                        <section id="terms">

                            <span>Terms & Notes</span>
                            <div>here terms and conditions</div>

                        </section>

                        <div class="payment-info" *ngIf="((orderDetails ||{}).payment ||{}).mode">
                            <div>Payments:</div><br/>
                            <div>ACCOUNT NUMBER — {{((orderDetails ||{}).payment ||{}).cardnum}}</div><br/>
                            <div>Mode — {{((orderDetails ||{}).payment ||{}).mode}}</div><br/>
                            <div>STATUS — {{((orderDetails ||{}).payment ||{}).status}}</div><br/>
                            <div>Bank Ref Num - {{((orderDetails ||{}).payment ||{}).bank_ref_num}}</div><br/>
                            <div>Bank Code - {{((orderDetails ||{}).payment ||{}).bankcode}}</div>
                        </div>
                    </div>
                </div>
            </mat-card>

            <mat-card *ngIf="paymentStatus==='failure'">
                <mat-card-title>
                    <mat-icon color="warn">cancel</mat-icon>
                    <h4>Your transaction could not be processed.</h4>
                </mat-card-title>
                <mat-card-content>
                    <h5>Seems there's a problem with the connection. Please try again later.</h5>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" [routerLink]="['/course/cart']"> Try Again</button>
                    <button mat-raised-button color="primary" [routerLink]="['/home']"> Back to Amida</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>


</div>