<section style="margin-bottom: 35px;" [@animate]="{value:'*',params:{y:'25px',delay:'300ms'}}" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
        <mat-card>
            <mat-card-content>
                <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
                    <div>
                        <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Welcome To Amida E-Learning</h2>
                    </div>
                    <div>
                        <h4 [ngStyle.xs]="{'font-size': '14px'}" [ngStyle.sm]="{'font-size': '12px'}">The best online coaching for Civil Services Exam. Amidaedutech.com is first of its kind online coaching in India. You can prepare for the UPSC exams online. A team of well-qualified professionals provide you with the highly visualized, modularized & self-paced learning material online uninterruptedly. It would provide as much learning support as possible through visualized explanations, examples, interactivity, feedback, glossaries etc. It helps your civils preparation in the best way possible. Try Amida to excel in UPSC.</h4>
                    </div>
                </div>
                <div class='a-container' fxLayout="row" fxLayoutWrap="nowrap" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <div fxFlex="23">
                        <mat-card class="p-0 m-0">
                            <mat-icon style="margin-right: 66px; font-size: 100px; color: brown;">wc</mat-icon>
                            <mat-card-content>
                                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '14px'}">The Experts</h5>
                                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '11px'}">
                                    Learn from industry experts who are passionate about teaching.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="23">
                        <mat-card class="p-0 m-0">
                            <mat-icon style="margin-right: 66px; font-size: 100px; color: rgb(20, 7, 95);">library_books</mat-icon>
                            <mat-card-content>
                                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '14px'}">Book & Library</h5>
                                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '11px'}">
                                    Choose what you'd like to learn from our extensive subscription library.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="23">
                        <mat-card class="p-0 m-0">
                            <mat-icon style="margin-right: 66px; font-size: 100px; color: rgb(243, 219, 7);">menu_book</mat-icon>
                            <mat-card-content>
                                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '14px'}">Best Courses</h5>
                                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '11px'}">
                                    Switch between your computer, tablet, or mobile device.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="23">
                        <mat-card class="p-0 m-0">
                            <mat-icon style="margin-right: 66px; font-size: 100px; color: rgb(114, 8, 73);">school</mat-icon>
                            <mat-card-content>
                                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '14px'}">Award & Reward</h5>
                                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '11px'}">
                                    For best student we are providing Awards.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>


    </div>
</section>