<div class="seciton-left">
    <div class="section-left-content">
        <h2 class="font-weight-light">Not a member yet?</h2>
        <p class="mb-24 text-small">Stop wasting time and money. It's free!</p>
        <button mat-flat-button color="accent" [routerLink]="'/sessions/signup'">Sign Up</button>
    </div>
</div>

<div class="form-holder height-100vh mat-elevation-z4" [perfectScrollbar]="{}">
    <form *ngIf="forgetPwd" [formGroup]="forgetPwdForm" class="signup-form" fxLayout="column" (ngSubmit)="submitEmail()">
        <div class="form-headline text-center mb-24">
            <h3 class="font-weight-light">Please enter your email to get password</h3>
        </div>
        <div class="mb-24" fxLayout="row wrap" fxLayoutAlign="center center">
            <img width="200px" src="assets/images/breaking_barriers.svg" alt="" />
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" name="email" placeholder="Email" />
        </mat-form-field>

        <button mat-raised-button class="mb-24" color="primary" [disabled]="forgetPwdForm.invalid">Submit</button>

        <div class="text-left">
            <a (click)="openPwdForm()" class="mat-primary text-left full-width">Sign in</a>
            <span fxFlex></span>
            <a [routerLink]="'/sessions/signup'" class="mat-primary text-right full-width">Create a new account</a>
        </div>
        <mat-divider class="my-32"></mat-divider>
    </form>
    <form *ngIf="!forgetPwd" [formGroup]="signinForm" class="signup-form" fxLayout="column" (ngSubmit)="onSubmit()">
        <!-- headline -->

        <div class="form-headline text-center mb-16">
            <a [routerLink]="'/home'" color="primary">
                <mat-icon color="primary">home</mat-icon>
            </a>
            <h1 class="font-weight-bold">Welcome to Amida Education!</h1>
            <p class="text-muted">Welcome back, Please login to your account.</p>
        </div>
        <div class="mb-24" fxLayout="row wrap" fxLayoutAlign="center center">
            <img width="200px" src="assets/images/breaking_barriers.svg" alt="" />
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <a matSuffix>
                <mat-chip *ngIf="currUser && !(currUser ||{}).emailVerify" [ngStyle]="{ background: 'red'}" (click)="sendVerification()">Verify</mat-chip>
            </a>
            <input matInput formControlName="email" type="email" name="email" placeholder="Email" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <mat-icon matSuffix [ngStyle]="{'color': typePassword ? 'red': '#247ba0'}" (click)="togglePassword()">remove_red_eye</mat-icon>
            <input type="{{ typePassword ? 'text' : 'password' }}" matInput formControlName="hashedPassword" name="hashedPassword" placeholder="********" />
        </mat-form-field>

        <div class="text-right mb-16">
            <a (click)="openPwdForm()" class="mat-primary text-right full-width">Forgot password?</a>
            <span fxFlex></span>
            <!-- <a [routerLink]="'/sessions/signup'" class="mat-primary text-center full-width">Create a new account</a> -->
        </div>
        <button mat-raised-button color="primary" [disabled]="signinForm.invalid">Signin</button>
        <mat-divider class="my-32"></mat-divider>
    </form>
    <div class="mb-24" fxLayout="column" class="text-center" fxLayoutGap="16px">
        <div [ngStyle.sm]="{'width': '50%'}" [ngStyle.lt-sm]="{'width': '100%'}">
            <button mat-icon-button (click)="signInWithFB()" class="mx-16" aria-label="Example icon-button with a heart icon">
                <img width='40px' src="assets/images/icon/facebook.png" alt="" />
              </button>
            <!-- <button mat-icon-button class="mx-16" aria-label="Example icon-button with a heart icon">
                  <img width='40px' src="assets/images/icon/twitter.png" alt="" /> 
              </button> -->
            <button mat-icon-button (click)="signInWithGoogle()" class="mx-16" aria-label="Example icon-button with a heart icon">
                    <img width='40px' src="assets/images/icon/google-plus.png" alt="" />  
                </button>
        </div>
    </div>
</div>