#sub-video {
    width: 100%;
}

.embed-responsive {
    padding: 20px;
}

.price {
    font-size: 21px;
    font-weight: 600;
    color: #0f35bb;
}

.reviewed-rate i {
    color: #edeff3;
}

.reviewed-rate>i.selected:before {
    color: #4680ff;
}

.blink {
    animation: blinker 0.6s linear infinite;
    color: #1c87c9;
    font-size: 23px;
    font-weight: bold;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink-one {
    animation: blinker-one 1s linear infinite;
}

@keyframes blinker-one {
    0% {
        opacity: 0;
    }
}

.blink-two {
    animation: blinker-two 1.4s linear infinite;
}

@keyframes blinker-two {
    100% {
        opacity: 0;
    }
}

.html-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
    padding: 20px;
}

.html-icon {
    position: absolute;
    margin-top: 41px;
    margin-left: 60px;
    font-size: 62px;
    cursor: pointer;
}

.default {
    font-weight: bold;
    color: rgb(156, 91, 6);
}

.mat-sidenav-container {
    min-height: 500px !important;
}