<section class="mt-8" [@animate]="{value:'*',params:{y:'25px',delay:'500ms'}}">
    <div fxLayout="row wrap" fxLayoutWrap="nowrap">
        <div fxFlex="50" fxFlex.lg="50" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card>
                <mat-card-title>
                    Add Category
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="addCategoryForm" (ngSubmit)="onAddDetails()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>--Category--</mat-label>
                            <!-- (selectionChange)="getCourseByCat(typeVal.value)" -->
                            <mat-select #typeVal formControlName="type" name="type" (selectionChange)="changeType(typeVal.value)">
                                <mat-option value="">---- Select Type ----</mat-option>
                                <mat-option value="root-category">Root category</mat-option>
                                <mat-option value="category">Category</mat-option>
                                <mat-option value="subject">Subject</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="(typeVal ||{}).value === 'root-category'" class="full-width" appearance="outline">
                            <mat-label>Root Category Name</mat-label>
                            <input matInput formControlName="rootCategory" type="text" name="rootCategory" placeholder="Root Category Name" />
                        </mat-form-field>
                        <mat-form-field *ngIf="(typeVal ||{}).value==='category' || (typeVal ||{}).value==='subject'" class="full-width" appearance="outline">
                            <mat-label>--Root Category--</mat-label>
                            <mat-select #rootCVal formControlName="rootCategoryValue" name="rootCategoryValue" (selectionChange)="showCategories(rootCVal.value)">
                                <mat-option value="">---- Select Root Category ----</mat-option>
                                <mat-option *ngFor="let item of rootCategories" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="(typeVal ||{}).value === 'category'" class="full-width" appearance="outline">
                            <mat-label>Category Name</mat-label>
                            <input matInput formControlName="category" type="text" name="category" placeholder="Category Name" />
                        </mat-form-field>
                        <div *ngIf="(typeVal ||{}).value === 'category'" class="full-width mb-4" appearance="outline">
                            <mat-label>Upload Image</mat-label>
                            <input formControlName="file" (change)="onImageChange($event)" type="file" name="file" placeholder="Upload File" accept="image/*" />
                        </div>
                        <mat-form-field *ngIf="(typeVal ||{}).value === 'subject'" class="full-width" appearance="outline">
                            <mat-label>--Category--</mat-label>
                            <mat-select formControlName="categoryValue" name="categoryValue">
                                <mat-option value="">---- Select Category ----</mat-option>
                                <mat-option *ngFor="let item of categories" [value]="item.name">{{item.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="(typeVal ||{}).value === 'subject'" class="full-width" appearance="outline">
                            <mat-label>--Subject--</mat-label>
                            <input matInput formControlName="subject" type="text" name="subject" placeholder="Subject Name" />
                        </mat-form-field>
                        <button class="mb-8" mat-raised-button color="primary" [disabled]="addCategoryForm.invalid">Submit</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>
<section class="mt-8" [@animate]="{value:'*',params:{y:'25px',delay:'500ms'}}">
    <div fxLayout="row wrap" fxLayoutWrap="nowrap">
        <div fxFlex="25" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card>
                <mat-card-title>
                    Root Categories
                </mat-card-title>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of rootCategories" (click)="showCategories(item.id)">
                            <mat-divider></mat-divider>
                            <a><span>{{item.name}}</span></a>
                            <span fxFlex></span>
                            <button mat-icon-button color='accent' (click)="removeRootCategory(item.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card>
                <mat-card-title>
                    Categories
                </mat-card-title>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of categories" (click)="showSubjects(item)">
                            <mat-divider></mat-divider>
                            <a><span>{{item.name}}</span></a>
                            <span fxFlex></span>
                            <button mat-icon-button color='primary' (click)="editCategory(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color='accent' (click)="removeCategory(item)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card>
                <mat-card-title>
                    Subjects
                </mat-card-title>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of subjects" (click)="getCourses({subjectName: item.name})"><a><span>{{item.name}}</span></a><span fxFlex></span><button mat-icon-button color='accent' (click)="removeSubject(item)"><mat-icon>delete</mat-icon></button></mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25" fxFlex.lg="25" fxFlex.sm="50" fxFlex.xs="100">
            <mat-card>
                <mat-card-title>
                    Courses
                </mat-card-title>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem" *ngFor="let item of courses"><span>{{item.name}}</span><span fxFlex></span><button mat-icon-button color='accent' (click)="removeCourse({id: item._id, subjectName: item.subjectName, image: item.image})"><mat-icon>delete</mat-icon></button></mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</section>