<section class="mt-8" [@animate]="{value:'*',params:{y:'25px',delay:'500ms'}}">
    <div fxLayout="colom" fxLayoutWrap="nowrap">
        <div fxFlex="40">
            <mat-card>
                <mat-card-title>
                    Add Category
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="addCategoryForm" (ngSubmit)="onAddDetails()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Category Name</mat-label>
                            <input matInput formControlName="name" type="text" name="name" placeholder="Category Name" />
                        </mat-form-field>
                        <div class="full-width" appearance="outline">
                            <mat-label>Upload Image</mat-label>
                            <input formControlName="file" (change)="onImageChange($event)" type="file" name="file" placeholder="Upload File" accept="image/*" />
                        </div>

                        <div class="full-width">
                            <button class="mb-8" mat-raised-button color="primary" [disabled]="addCategoryForm.invalid">Submit</button>
                            <span fxFlex></span>

                        </div>

                    </form>
                    <div class="full-width">
                        <img width='100px' [src]="(catDetails ||{}).image">
                        <!-- <mat-label>Image Path: {{(catDetails ||{}).image || 'Image Not Available'}}</mat-label> -->

                    </div>
                    <div class="full-width">
                        <button class="mb-8" mat-raised-button color="primary" (click)="dialogRef.close(false)">Cancel</button>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>

    </div>
</section>