<!-- First row -->
<mat-card class="p-0" [@animate]="{ value: '*', params: { y: '50px', delay: '300ms' } }">
    <div fxLayout="row wrap">
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1 border-right-light">
                <mat-icon class="text-blue">person</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).stdent || 0}}</h4>
                <small class="m-0 ">Registered Users</small>
            </div>
        </div>
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1 border-right-light">
                <mat-icon class="text-green">show_chart</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).subject || 0}}</h4>
                <small class="m-0 ">Uploaded Subjects</small>
            </div>
        </div>
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1 border-right-light">
                <mat-icon class="text-blue">cloud_download</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).cat || 0}}</h4>
                <small class="m-0 ">Uploaded Categories</small>
            </div>
        </div>
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1 border-right-light">
                <mat-icon class="text-green">comment</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).course || 0}}</h4>
                <small class="m-0 ">Uploaded Courses</small>
            </div>
        </div>
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1 border-right-light">
                <mat-icon class="text-blue">person</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).blog || 0}}</h4>
                <small class="m-0 ">Uploaded Current Affairs</small>
            </div>
        </div>
        <div fxFlex="50" fxFlex.gt-sm="16.66" fxFlex.sm="50">
            <div class="text-center pt-1 pb-1">
                <mat-icon class="text-red">favorite</mat-icon>
                <h4 class="m-0 ">{{(counts ||{}).asmnt || 0}}</h4>
                <small class="m-0 ">Uploaded Assessments</small>
            </div>
        </div>
    </div>
</mat-card>
<!--/ End first row -->

<!-- 2nd, 3rd row -->
<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="66.67" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '50px', delay: '600ms' } }">
        <mat-card class="p-0">
            <mat-card-title>
                <select style="margin: 10px;" [(ngModel)]="currentYear" (change)="yearSelect()">
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                </select>
                <button (click)="yearSelect()">Refresh</button>
            </mat-card-title>
            <mat-card-content>
                <mat-divider></mat-divider>
                <mat-tab-group>
                    <mat-tab label="Order Created">
                        <div echarts [options]="orderOptions" [merge]="orderSeries" (chartInit)="onOrderChartInit($event)" (chartClick)="onOrderChartEvent($event, 'chartClick')" [autoResize]="true" style="height: 255px;"></div>
                    </mat-tab>
                    <mat-tab label="Register Students">
                        <div echarts [options]="sessionOptions" [merge]="sessions" (chartInit)="onStdChartInit($event)" (chartClick)="onChartStedEvent($event, 'chartClick')" [autoResize]="true" style="height: 255px;"></div>
                    </mat-tab>
                    <mat-tab label="Inquiry">
                        <div echarts [options]="inquiryOptions" [merge]="inquerySeries" (chartInit)="onChartInit($event)" (chartClick)="onChartEvent($event, 'chartClick')" [autoResize]="true" style="height: 255px;"></div>
                    </mat-tab>

                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <!--/ End tab -->

    <!-- Donut chart -->
    <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '50px', delay: '400ms' } }">
        <mat-card class="p-0 ">
            <p class=" ml-1 mt-1">QUIZ STATUS</p>
            <div echarts [options]="quizStatusChat" (chartInit)="onQuizChartInit($event)" [autoResize]="true" style="height: 250px;"></div>
        </mat-card>
    </div>
    <!--/ End donut chart -->
    <!--/ End 2nd row -->

    <!-- 3rd row, 1st column -->
    <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '100px', delay: '800ms' } }">
        <mat-card class="">
            <mat-card-title>
                <p class="">Gross Revenue and Profit ({{'Amount: '+totalSalesAmount}})</p>
                <span fxFlex></span>

                <div>
                    <select style="margin: 10px;" [(ngModel)]="currentYear" (change)="yearSaleSelect()">
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                    </select>
                    <button (click)="yearSaleSelect()">Refresh</button>
                </div>

            </mat-card-title>
            <mat-card-content>
                <div echarts [options]="salesOptions" [merge]="salesData" (chartInit)="onSalesChartInit($event)" (chartClick)="onSalesChartEvent($event, 'chartClick')" [autoResize]="true" style="height: 255px;"></div>
            </mat-card-content>

        </mat-card>

        <mat-card class="p-0">
            <mat-card-title class="mb-1">
                <div class="card-title-text">
                    <span matBadgeColor="warn" [matBadge]="(assList ||{}).length" matBadgeOverlap="false" class="font-weight-normal">Assessment Ready for Review</span>
                </div>
                <mat-divider></mat-divider>
            </mat-card-title>
            <mat-card-content>
                <div class="m-333">
                    <mat-accordion multi="false">
                        <mat-expansion-panel *ngFor="let item of assList; index as i;">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{i+1}}) {{item.assName.name}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="border-bottom" *ngFor="let user of item.userList;">
                                <div fxLyout="row wrap" class="text-blue font-weight-bold">
                                    <span><a [routerLink]="['/admin/assreview']" [queryParams]="{ id : user._id}">{{user.userId.firstName}}</a></span>
                                    <span fxFlex></span>
                                    <span>{{user.created | date:'medium' }}</span>
                                </div>
                                <div fxLyout="row wrap" class="text-muted">
                                    <small>{{user.userId.email}}</small>
                                    <span fxFlex></span>
                                    <small class="text-green">Essay</small>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!--/ End 3rd row, 1st column -->

    <!-- 3rd row, 2nd column -->
    <div fxFlex="100" fxFlex.gt-sm="66.67" fxFlex.sm="50" [@animate]="{ value: '*', params: { y: '50px', delay: '1000ms' } }">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="50">
                <mat-card class="p-0">
                    <div fxLayout="row wrap">
                        <div fxFlex="40" class="p-1">
                            <p class="">Sample chart</p>
                            <p class="text-24 text-green font-weight-bold mb-0">
                                27% <span class="material-icons">arrow_drop_up</span>
                            </p>
                            <p class="text-muted m-0">This Week</p>
                        </div>
                        <div fxFlex="60">
                            <div echarts [options]="trafficGrowthChart" [autoResize]="true" style="height: 150px; right: -1px"></div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="50">
                <mat-card class="p-0">
                    <div fxLayout="row wrap">
                        <div fxFlex="40" class="p-1">
                            <p class="">Sample chart</p>
                            <p class="text-24 text-red font-weight-bold mb-0">
                                20% <span class="material-icons">arrow_drop_up</span>
                            </p>
                            <p class="text-muted m-0">This Week</p>
                        </div>
                        <div fxFlex="60">
                            <div echarts [options]="bounceRateGrowthChart" [autoResize]="true" style="height: 150px; right: -1px"></div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <mat-card class="p-0 " [@animate]="{ value: '*', params: { scale: '.9', delay: '300ms' } }">
            <mat-table [dataSource]="countryTrafficStats" matSort>
                <ng-container matColumnDef="country">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Country
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="id">
                        <span class="flag-icon {{ row.flag }}"></span> {{ row.country }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="visitor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Visitor
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="progress">
                        {{ row.visitor }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="pageView">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Page View
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="name">
                        {{ row.pageView }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="download">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Download
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="color">
                        {{ row.download }}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="bounceRate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        Bounce Rate
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="color">
                        {{ row.bounceRate }}
                    </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <button mat-button><mat-icon>keyboard_arrow_right</mat-icon></button>
            </mat-cell>
          </ng-container> -->

                <mat-header-row *matHeaderRowDef="[
            'country',
            'visitor',
            'pageView',
            'download',
            'bounceRate'
          ]"></mat-header-row>
                <mat-row *matRowDef="
            let row;
            columns: [
              'country',
              'visitor',
              'pageView',
              'download',
              'bounceRate'
            ]
          ">
                </mat-row>
            </mat-table>
        </mat-card>
    </div>
    <!--/ End 3rd row, 2nd column -->
</div>