<div fxLayout="row wrap" class="mt-8" [@animate]="{value:'*',params:{y:'25px',delay:'500ms'}}">
    <div fxFlex="100">
        <div fxLayout="row wrap" fxLayoutWrap="nowrap">
            <div fxFlex="55" fxFlex.lg="55" fxFlex.sm="100" fxFlex.xs="100">
                <mat-card>
                    <mat-card-title>
                        Question List ({{questionsList?.length}})
                    </mat-card-title>
                    <mat-card-content>
                        <div fxLayout="row wrap" [@animate]="{value:'*',params:{delay:'600ms',scale:'.9'}}">
                            <div fxFlex="100" *ngFor="let question of questionsList; let i = index;" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>
                                            {{i+1}}. Question
                                        </mat-card-title>
                                        <mat-card-subtitle>
                                            <p [innerHtml]="question.question"></p>
                                        </mat-card-subtitle>
                                    </mat-card-header>

                                    <mat-card-content>
                                        <div class="f-13  m-b-15 mt-4" *ngFor="let option of question.options">
                                            <strong>{{option.key}}.</strong> <span class="text-muted" [innerHtml]="option.option"></span>
                                        </div>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <span fxLayout="row"><strong>Answer:&nbsp;
                                                &nbsp;</strong>{{question.answer}}</span>
                                        <span fxLayout="row"><strong>Comment:&nbsp;
                                                &nbsp;</strong>{{question.comments}}</span>
                                    </mat-card-actions>
                                    <mat-card-footer class="p-8">
                                        <button mat-raised-button color="primary" (click)="editQuestion(question)">Edit</button>
                                        <span fxFlex></span>
                                        <button mat-raised-button color="primary" (click)="deleteQuestion(question._id)">Delete</button>
                                    </mat-card-footer>
                                </mat-card>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="45" fxFlex.lg="45" fxFlex.sm="50" fxFlex.xs="100">
                <mat-card>
                    <mat-card-title>
                        Add/Edit Question
                        <span fxFlex></span>
                        <button mat-raised-button color="primary" (click)="bForm({})">Add Question</button>
                    </mat-card-title>
                    <mat-card-content *ngIf="qType">
                        <form [formGroup]="qForm" (ngSubmit)="onSaveQuestion()">
                            <!-- <quill-editor formControlName="question" name="question">
                            </quill-editor> -->

                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='question' [showCharCount]='true' formControlName="question" name="question" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Write Question here">

                            </ejs-richtexteditor>
                            <strong>Option A</strong>
                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='optionA' [showCharCount]='true' formControlName="optionA" name="optionA" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Option A">

                            </ejs-richtexteditor>
                            <strong>Option B</strong>
                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='optionB' [showCharCount]='true' formControlName="optionB" name="optionB" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Option B">

                            </ejs-richtexteditor>
                            <strong>Option C</strong>
                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='optionC' [showCharCount]='true' formControlName="optionC" name="optionC" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Option C">

                            </ejs-richtexteditor>
                            <strong>Option D</strong>
                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='optionD' [showCharCount]='true' formControlName="optionD" name="optionD" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Option D">

                            </ejs-richtexteditor>
                            <!-- <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Option A</mat-label>
                                <textarea matInput formControlName="optionA" name="optionA"
                                    placeholder="Option A"></textarea>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Option B</mat-label>
                                <textarea matInput formControlName="optionB" name="optionB"
                                    placeholder="Option B"></textarea>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Option C</mat-label>
                                <textarea matInput formControlName="optionC" name="optionC"
                                    placeholder="Option C"></textarea>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Option D</mat-label>
                                <textarea matInput formControlName="optionD" name="optionD"
                                    placeholder="Option D"></textarea>
                            </mat-form-field>-->
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label value="">-- Select Answer --</mat-label>
                                <mat-select formControlName="answer" name="answer">
                                    <mat-option>-- Select Answer --</mat-option>
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="C">C</mat-option>
                                    <mat-option value="D">D</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Comments</mat-label>
                                <textarea matInput formControlName="comments" name="comments" placeholder="Comments"></textarea>
                            </mat-form-field>
                            <button class="mb-8" mat-raised-button color="primary" [disabled]="qForm.invalid">Submit</button>
                        </form>
                    </mat-card-content>
                    <mat-card-content *ngIf="!qType">
                        <form [formGroup]="qForm" (ngSubmit)="onSaveQuestion()">
                            <!-- <quill-editor formControlName="question" name="question">
                            </quill-editor> -->

                            <ejs-richtexteditor [insertImageSettings]='insertImageSettings' [enableResize]="true" id='question' [showCharCount]='true' formControlName="question" name="question" [toolbarSettings]='tools' [height]="height" required aria-placeholder="Write Question here">

                            </ejs-richtexteditor>
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Comments</mat-label>
                                <textarea matInput formControlName="comments" name="comments" placeholder="Comments"></textarea>
                            </mat-form-field>
                            <button class="mb-8" mat-raised-button color="primary" [disabled]="qForm.invalid">Submit</button>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>
</div>